.navBar{
    width: 100%;
    height: 72px;
    display: flex;
    margin-bottom: 46px;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 12px gray;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linksContainer{
    display: flex;
    width: 70%;
    height: 72px;
}
.links-li{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.links-li li {
    display: flex;
    align-items: center;
}
.links{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    width: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.links:hover{
    border-bottom: 1px solid black;
}
.cartNavContainer{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    position: relative;
    cursor: pointer;
}
.cartProducts{
    position: absolute;
}
.productCounter{
    position: absolute;
    top: 27px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.shoppingBag{
    width: 26px;
}
.loginContainer{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 24px;
    height: 32px;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
    font-weight: 600;
    transition: all 0.5s;
}
.login:hover{
    transform: scale(1.2);
}